<div class="container" id="experience">
	<h1>experience</h1>

	<div class="element-card">
		<div class="card-headlines">
			<h2>Senior Consultant - Retail Client Lead</h2>
			<h3>Quantium</h3>
			<div class="corporate_logo">
				<a href="https://www.quantium.com" target="blank"><%= image_tag("quantium_logo.jpg") %></a>
			</div>
			<h4>Sydney, Australia</h4>
			<h4>Since May 2018</h4>
		</div>
		<div class="card-details">
			<p>Quantium combines the best of human and artificial intelligence to power possibilities for individuals, organisations and society.</p>
			<p>Part of the commercial team, dedicated to retail clients. Client leads (Consultants) help major retail companies to achieve outstanding results through analysis of customer and market data.</p>
		</div>
		<div class="card-website" id="quantium" data-url="https://www.quantium.com">
			<div class="card-website-title">Corporate website</div>
			<%= link_to website_path(name: "quantium"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>

	<div class="element-card">
		<div class="card-headlines">
			<h2>Strategy Manager</h2>
			<h3>Woolworths Group</h3>
			<div class="corporate_logo">
				<a href="https://www.woolworthsgroup.com.au" target="blank"><%= image_tag("woolworths.png") %></a>
			</div>
			<h4>Sydney, Australia</h4>
			<h4>April 2017 - December 2017</h4>
		</div>
		<div class="card-details">
			<p>Contractor within the Corporate Strategy team (worked at the time as an independent consultant.</p>
			<p>Involved in an important project to review product ranges and COGS (Cost Of Goods Sold) in Woolworths supermarkets. Led and facilitated the review process across 6 different categories within Groceries and General Merchandise.</p>
		</div>
		<div class="card-website" id="woolworths" data-url="https://www.woolworthsgroup.com.au">
			<div class="card-website-title">Corporate website</div>
			<%= link_to website_path(name: "woolworths"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>

	<div class="element-card">
		<div class="card-headlines">
			<h2>Senior Industrial Controller</h2>
			<h3>Pernod Ricard (Havana Club)</h3>
			<div class="corporate_logo">
				<a href="https://www.pernod-ricard.com/en" target="blank"><%= image_tag("prhci.png") %></a>
			</div>
			<h4>Havana, Cuba</h4>
			<h4>September 2015 - January 2017</h4>
		</div>
		<div class="card-details">
			<p>Worked directly with the Finance Director and the Industrial Director, made the link between the Finance and Operations of Havana Club International, Joint Venture of Pernod Ricard and the Cuban State.</p>
			<p>Worked included in Finance:</p>
			<ul>
				<li>Delivering the financial analysis on key development and strategic projects (brand profitability, ROCE, IRR, long term investments plan...)</li>
				<li>Forecast and monitoring of complex maturing inventories (rums)</li>
				<li>Evaluation and control of key financial metrics (Standard Costs, Manufacturing Variances, Capex plan and realisation...)</li>
			</ul>
			<p>and in Operations:</p>
			<ul>
				<li>Following up the production (fabrication and bottling), ageing, logistics, supply chain and other associated operations performances of the local factory in Cuba and the back-up plant in Spain, on a daily basis and against the long term strategy plan</li>
				<li>Budgeting, controlling and reporting of the local factory performances</li>
			</ul>
		</div>
		<div class="card-website" id="pernodricard" data-url="https://havana-club.com/en-ww/">
			<div class="card-website-title">Corporate website</div>
			<%= link_to website_path(name: "pernodricard"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>

	<div class="element-card">
		<div class="card-headlines">
			<h2>Management and Strategy Consultant</h2>
			<h3>Schlumberger Business Consulting</h3>
			<div class="corporate_logo">
				<a href="https://www.slb.com" target="blank"><%= image_tag("sbcwhite.JPG") %></a>
			</div>
			<h4>London, UK || Paris, France</h4>
			<h4>January 2012 - August 2015</h4>
		</div>
		<div class="card-details">
			<p>Worked as a consultant for the management and strategy consulting arm of Schlumberger, leader in Oil and Gas services. Work included (but not limited to):</p>
			<ul>
				<li>[France] Optimisation of the supply chain and maintenance of the fleet of tools for a major service company worlwide, delivering increased availability of tools and lower maintenance costs</li>
				<li>[Argentina] Market survey of EPC (Engineering, Procurement and Construction) companies and contracting strategy definition for a major gas producer, leading to an increase of competition between potential contractors </li>
				<li>[Kingdom of Saudi Arabia] Development of a case for change for a Local Content and hiring policies in the Kingdom, subsequently presented to government officials</li>
				<li>[United Kingdom] Contracting strategy definition and manpower planning to enable improved Capital Projects outcomes of an independent operator with a global portfolio of assets</li>
				<li>[Nigeria] Design and implementation of operational reporting tools for the top management of an IOC (Independent Oil Company) subsidiary, with subsequent training of local team dedicated to the Integrated Operational Planning, and Performance and Monitoring across all departments of the subsidiary, covering a production of c. 120,000 barrels a day</li>
			</ul>
			<p><em>Note: Schlumberger Business Consulting has been bought by Accenture in 2016.</em></p>
		</div>
		<div class="card-website" id="schlumberger" data-url="https://www.slb.com/">
			<div class="card-website-title">Corporate website</div>
			<%= link_to website_path(name: "schlumberger"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>

	<div class="element-card">
		<div class="card-headlines">
			<h2>Financial Modeller</h2>
			<h3>Vinci Construction UK</h3>
			<div class="corporate_logo">
				<a href="http://www.vinciconstruction.co.uk/" target="blank"><%= image_tag("vinci.png") %></a>
			</div>
			<h4>London, UK</h4>
			<h4>May 2010 - July 2011</h4>
		</div>
		<div class="card-details">
			<p>Worked as a financial modeller on PPP projects for Vinci Construction in London</p>
			<p>Work included preparation of financial forecast for bids, and monitoring of performances of exisiting infrastructures, cojointly with Barclays bank</p>
		</div>
		<div class="card-website" id="vinci" data-url="http://www.vinciconstruction.co.uk/">
			<div class="card-website-title">Corporate website</div>
			<%= link_to website_path(name: "vinci"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>

	<div class="element-card last-card">
		<div class="card-headlines">
			<h2>Army Officer (Cadet Leftenant)</h2>
			<h3>Gendarmerie Nationale (France)</h3>
			<div class="corporate_logo">
				<a href="https://www.gendarmerie.interieur.gouv.fr/" target="blank"><%= image_tag("gendarmerienationale.jpg") %></a>
			</div>
			<h4>Hyères, France</h4>
			<h4>September 2006 - Avril 2007</h4>
		</div>
		<div class="card-details">
			<p>Gendarmerie Nationale is the French Military Police force, which undertakes both military and civil police duties.</p>
			<p>My experience was part of the leadership training at Ecole Polytechnique (first year's curriculum). Worked as the Colonel's <em>aide de camp</em> on the logistics and management of the troops, and took an active part in several operations on the field (night patrols, riot police operations, raids...)</p>
		</div>
		<div class="card-website" id="gendarmerie" data-url="https://www.gendarmerie.interieur.gouv.fr/">
			<div class="card-website-title">Corporate website</div>
			<%= link_to website_path(name: "gendarmerie"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>



	<!-- https://www.gendarmerie.interieur.gouv.fr/ -->
</div>