<div class="container" id="education">
	<h1>education</h1>

	<div class="element-card last-card">
		<div class="card-headlines">
			<h2>Le Wagon</h2>
			<h3>Coding Bootcamp</h3>
			<div class="corporate_logo">
				<a href="https://www.lewagon.com" target="blank"><%= image_tag("lewagon.jpg") %></a>
			</div>
			<h4>Bali, Indonesia</h4>
			<h4>2018</h4>
		</div>
		<div class="card-details">
			<p>Coding bootcamp</p>
			<p>Followed Le Wagon's 9-week coding bootcamp. Le Wagon is Europe's leading bootcamp for entrepreneurs, teaching how to build websites' and applications' front and back ends.</p>
			<p>Ruby and coding basics, Software Engineering (Object-Oriented Programming), Front-End (HTML, CSS, Bootstrap, React), JavaScript, Ruby on Rails, Git, GitHub, Heroku...</p>
		</div>
		<div class="card-website" id="lewagon" data-url="http://www.lewagon.com">
			<div class="card-website-title">Official website</div>
			<%= link_to website_path(name: "lewagon"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>

	<div class="element-card">
		<div class="card-headlines">
			<h2>Ecole Polytechnique</h2>
			<!-- <h3>Paris, France</h3> -->
			<div class="corporate_logo">
				<a href="https://www.polytechnique.edu/en" target="blank"><%= image_tag("polytechnique.png") %></a>
			</div>
			<h4>Paris, France</h4>
			<h4>2006 - 2011</h4>
		</div>
		<div class="card-details">
			<p><em>Cycle Ingénieur</em></p>
			<p>France's leading university (French <em>Grande Ecole</em>) for Sciences and Engineering.</p>
			<p>Master's Degree in Management and Technological Innovation, <em>Diplôme d'Ingénieur de l'Ecole Polytechnique</em></p>
		</div>
		<div class="card-website" id="polytechnique" data-url="http://www.polytechnique.edu/en">
			<div class="card-website-title">Official website</div>
			<%= link_to website_path(name: "polytechnique"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>

	<div class="element-card">
		<div class="card-headlines">
			<h2>London School of Economics</h2>
			<!-- <h3>Paris, France</h3> -->
			<div class="corporate_logo">
				<a href="http://www.lse.ac.uk/" target="blank"><%= image_tag("lse.png") %></a>
			</div>
			<h4>London, UK</h4>
			<h4>2010 - 2011</h4>
		</div>
		<div class="card-details">
			<p>Visiting student</p>
			<p>Management, Strategy and Business courses as part of Master's Degree final year</p>
		</div>
		<div class="card-website" id="lse" data-url="http://www.lse.ac.uk/">
			<div class="card-website-title">Official website</div>
			<%= link_to website_path(name: "lse"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>


	<div class="element-card last-card">
		<div class="card-headlines">
			<h2>Lycée Jean-Baptiste Say</h2>
			<h3>Classe Prépa PT*</h3>
			<h4>Paris, France</h4>
			<h4>2003 - 2006</h4>
		</div>
		<div class="card-details">
			<p>Classes Préparatoires aux Grandes Ecoles</p>
			<p>A 2-year intensive programme to prepare for highly competitive entrance exams to the French <em>Grandes Ecoles</em>. Highly focused on sciences (Maths, Physics, Engineering)</p>
		</div>
		<div class="card-website" id="jbsay" data-url="http://lyc-jb-say.scola.ac-paris.fr/">
			<div class="card-website-title">Official website</div>
			<%= link_to website_path(name: "jbsay"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
		</div>
	</div>
</div>