 
<script>
document.addEventListener("DOMContentLoaded", function(event) {

		// console.log("launching <= name %>");
		
		const partialId<%= name.capitalize %> = document.getElementById("<%= name %>");
		
		// console.log(partialId<= name.capitalize %>);

		<% page = MetaInspector.new(url, :connection_timeout => 10, :read_timeout => 5, :retries => 2, faraday_http_cache: { store: @cache }) %>

		<% page.images.best != "" ? image_page = page.images.best : ""
			 page.meta["og:title"] != "" ? page_title = page.meta["og:title"] : ""
			 page.meta["description"] != "" ? page_description = page.meta["description"] : "No description available, visit website for more information"
		%>


		let stringHTMLToAdd = '<img src="<%= image_page %>" alt=""> <h4><%= page_title %></h4> <p><%= page_description %></p>'

		// console.log(stringHTMLToAdd);

		partialId<%= name.capitalize %>.insertAdjacentHTML('beforeend', stringHTMLToAdd);

		partialId<%= name.capitalize %>.querySelector(".loading").remove();
});

</script>