<div class="navbar-arnaud navbar-fixed-top" id="navbar-arnaud-id">


  <!-- Desktop NavBar -->
  <div class="hidden-xs hidden-sm">
  <!-- Main Name -->
    <div class="navbar-arnaud-brand text-center">
      <%= link_to root_path do %>
        <h1>Arnaud</h1>
        <h2>de La Chaise</h2>
      <% end %>
    </div>
      
  <!-- Navigation tabs -->
    <div class="navbar-arnaud-item">
      <ul class="navigation-list">
        <li class="section-selector">HOME</li>
        <li class="section-selector">ABOUT</li>
        <li class="section-selector">SKILLS</li>
        <li class="section-selector">EXPERIENCE</li>
        <li class="section-selector">EDUCATION</li>
        <li class="section-selector">OTHER INTERESTS</li>
        <li class="section-selector">PORTFOLIO</li>
        <li class="section-selector">CONTACT</li>
      </ul>
      <div class="list-inline social-links">
        <li><a href="https://www.linkedin.com/in/arnauddelachaise" target="blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/arnauddlc" target="blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      </div>
      <div class="copyright">
        <p>(c) Arnaud de La Chaise - All rights reserved</p>
      </div>   
    </div>

  </div>


  <!-- Mobile NavBar -->
  <div class="navbar-arnaud-on-top hidden-md hidden-lg">
  <!-- Main Name -->
    <div class="navbar-arnaud-brand text-center">
      <%= link_to root_path do %>
        <h1>Arnaud</h1>
        <h2>de La Chaise</h2>
      <% end %>
    </div>
      
  <!-- Navigation tabs -->
    <div class="navbar-arnaud-right dropdown">
      <h3><%= @active_tab%></h3>
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-arnaud-dropdown-menu">
        <li class="<%= 'active' if @active_tab == 'HOME' %>"><a data-toggle="tab" href="#HOME">HOME</a></li>
        <li class="<%= 'active' if @active_tab == 'ABOUT' %>"><a data-toggle="tab" href="#ABOUT">ABOUT</a></li>
        <li class="<%= 'active' if @active_tab == 'SKILLS' %>"><a data-toggle="tab" href="#SKILLS">SKILLS</a></li>
        <li class="<%= 'active' if @active_tab == 'EXPERIENCE' %>"><a data-toggle="tab" href="#EXPERIENCE">EXPERIENCE</a></li>
        <li class="<%= 'active' if @active_tab == 'EDUCATION' %>"><a data-toggle="tab" href="#EDUCATION">EDUCATION</a></li>
        <li class="<%= 'active' if @active_tab == 'OTHER-INTERESTS' %>"><a data-toggle="tab" href="#OTHER-INTERESTS">OTHER INTERESTS</a></li>
        <li class="<%= 'active' if @active_tab == 'PORTFOLIO' %>"><a data-toggle="tab" href="#PORTFOLIO">PORTFOLIO</a></li>
        <li class="<%= 'active' if @active_tab == 'CONTACT' %>"><a data-toggle="tab" href="#CONTACT">CONTACT</a></li>
      </ul>
    </div>

  </div>
</div>

