	<%= render 'pages/sections/1home' %>

	<%= render 'pages/sections/2about' %>

	<%= render 'pages/sections/3skills' %>

	<%= render 'pages/sections/4experience' %>

	<%= render 'pages/sections/5education' %>

	<%= render 'pages/sections/6other_interests' %>

	<%= render 'pages/sections/7portfolio' %>
	
	<%= render 'pages/sections/8contact' %>

	
      
  <div class="copyright">
    <p>(c) Arnaud de La Chaise - All rights reserved</p>
  </div> 
