<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Arnaud de La Chaise - Independent Consultant</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="content">
      <%= yield %>
    </div>
    
	  <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>

  <script>
    
    // document.addEventListener("DOMContentLoaded", function(e){
    //   console.log("document loaded!");
    //   const urlsWebsites = <= @urls.inspect.html_safe %>
    //   console.log(urlsWebsites);

    //   const websites = document.querySelectorAll(".card-website");

    //   < @urls.each do |element| %>
    //   var websiteArea = document.getElementById(<= element[0].inspect.html_safe %>);
    //   websiteArea.insertAdjacentHTML("beforeend", "<= j render 'show_website', url: element[1], remote: true %>");
    //   websiteArea.querySelector(".loading").remove();
    //   < end %>


    //   // websites.forEach(function(website){
    //   //   var urlWebsite = website.data.url;
    //   //   console.log(urlWebsite);
    //   //   var cmdString = '<= j render 'show_website', url: %>' + urlWebsite + 'j %>';

    //   //   website.insertAdjacentHTML("beforeend", cmdString);
    //   //   website.querySelector(".loading").remove();
    //   // });

    //   console.log("All done!");
    // })
  </script>
</html>
